{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
{% endblock head %}

{% block content %}
<div class="container">
    <form name="memory-form" method="POST">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field}}
            {% if field.errors %}
                <small class="text-danger">{{ field.errors }}</small>
            {% endif %}
        </div>
        {% endfor %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div id="map" class="p-1 border border-secondary rounded" style="height: 35vh"></div>
        <button class="btn btn-primary mt-3" type="submit">Сохранить</button>
    </form>
</div>
<script src="{% static "map.js" %}"></script>
{% endblock content %}



