{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    {% if user.is_authenticated %}
        <img src="{{ user.profile_image}}">
        <p>{{ user.get_full_name }}</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
        {% for memory in memories %}
        <p> {{ memory.name }} </p>
        {% empty %}
        <p>У вас нет ни одного воспоминания</p>
        {% endfor %}
    {% else %}
    <a href="{% url 'vk-auth' %}">Войти с помощью VK</a>
    {%endif%}
</body>
</html>