{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
        <img src="{{ user.profile_image}}">
        <p>{{ user.get_full_name }}</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
        <a href="{% url 'memory-create' %}">Добавить воспоминание</a>
        {% for memory in memories %}
        <a href="{{ memory.get_absolute_url }}"> {{ memory.name }} </p>
        {% empty %}
        <p>У вас нет ни одного воспоминания</p>
        {% endfor %}
    {% else %}
    <a href="{% url 'vk-auth' %}">Войти с помощью VK</a>
{%endif%}
{% endblock content %}